# Node.js
node_modules/

# Environment variables
.env
config.env

# Build artifacts
build/
dist/
coverage/

# Dependency directories
pnpm-lock.yaml
yarn.lock

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Logs
*.log

# User-specific files
*.suo
*.user
*.sln.docstates

# Jest test result
jest-test-results.json